<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/base.css">
  <title>Book App</title>
</head>
<body>
  <header>Hello World</header>

  <main>Something in the body</main>
  
  <footer>&copy; 2020 | Lami Beach & Chuck Li</footer>

</body>
</html>